/*import*/
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic');

/*html*/
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #0d0d0d;
}

* {
	margin: 0;
	padding: 0;
	}
	.imgbox {
		display: grid;
		height: 90%;
		}
		.center-fit {
			max-width: 100%;
            max-height: 100vh;
            margin: auto;
        }

@font-face {
    font-family: 'britannic_boldregular';
    src: url('/assets/font/BritannicBoldRegular.ttf') format('truetype'),
         url('/assets/font/web/britannicboldregular-webfont.woff') format('woff'),
		 url('/assets/font/web/britannicboldregular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
p.jumentofont { 
    font-family: "britannic_boldregular", arial, serif;
}
